/* 全体のスタイル設定 */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f7fa;
    padding: 2em;
    margin: 0;
    color: #333;
}

/* ヘッダーのスタイル設定 */
header {
    background: #2a2a2a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

/* ナビゲーションメニューのスタイル設定 */
nav {
    background: #fff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #2a2a2a;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #007BFF;
}

/* メインコンテンツのスタイル設定 */
main {
    margin: 15px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

main h2 {
    border-bottom: 2px solid #dee7ec;
    padding-bottom: 10px;
    margin-top: 0;
}

/* フッターのスタイル設定 */
footer {
    background: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
}

/* アイコンのスタイル設定 */
.contents-item {
    float: left;
    margin-right: 20px;
}

/* 画像のスタイル設定 */
.img_item {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #111;
    border-radius: 5px;
    transition: transform 0.2s;
}

.img_item:hover {
    transform: scale(1.05);
}
