/* タグ */
h1 {
  color:red;
}


.selected {
  color: blueviolet
}
body {
  font-family: "Avenir Next";
}
li{
  list-style: none;
}
/* クラス */

.headerLogo{       /* クラスは先頭に「.」をつける */
  float: left;      /* リストを横並びにする*/
  font-size:36px;   /* 文字サイズ */
  padding:20px 40px; /*上下の余白*/
}
.headerLi{
  List-style: none; /* listの「・」を削除 */
  float:left;
  padding:33px 20px;

}
.header{
  background-color: #26d0c9;
  color:#fff;
  height:90px;

}

.main{
  background-color:#bdf7f1 ;
  height:1000px;
}

.footer{
  background-color: #2f5167;

  color: #fff;  
  height: 120px;
  padding: 40px;
}

.footerLogo{
  font-size: 32px;
  float: left;
}

.footerList {
  float: right;
}

.footerList li {
  padding-bottom:20px;
}