/* タグ */
h1 {
  color:red;
}


.selected {
  color: blueviolet
}
body {
  font-family: "Avenir Next";
}

/* クラス */

.header-logo{       /* クラスは先頭に「.」をつける */
  font-size:36px;   /* 文字サイズ */
  float:left;       /* リストを横並びにする*/
  padding:20px 40px; /*上下の余白*/
}
.headerLi{
  List-style: none; /* listの「・」を削除 */
  float:left;
  padding:33px 20px;

}
.header{
  background-color:#f7f2b4;
  color:#fff;
  height:90px;

}

.main{
  background-color:#bdf7f1 ;
  height:1200px;
}

.footer{
  background-color: #ceccf3;
  height:270px;
}

li{
  list-style: none;
}